@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700');

* {
	box-sizing:border-box;
	padding: 0; /* no pdding unless otherwise stated in this document*/
	margin: 0; /* no margin unless stated otherwise in this document*/
}	

body {
	background-color: #fff5d6;
	font-family: 'Cormorant Garamond', serif;
}

h2 {
	background-color: #fff5d6;
	margin: 5px 0px; /* margin gives you space between two elements (outside)*/
	padding: 5px; /*padding gives you space within the elements (inside)*/
}

nav ul {
	padding: 10px; /* padding is space around the box. If you give it one value then it applies that value to all sides
	If you give it twp va;ues then the first value is for the top and bottom, second vale is for the left and right.
	If you give the padding value four values then it appplies the value clockwise. 1st to the top, 2nd right
	3rd to the bpttom, and 4th to the left.*/
	overflow: auto;
	background-color: #ff9b9b;
	list-style: none; /* This takes off the bullet points of list items (li) 
	in the unordered list (ul)*/
}

nav li {
	float: left;
	width: 33.33%; /* targets the links withing the nav and spaces them out to this value. % is relative */
	text-align: center;
	border: 2px dashed #ffffff;
}

nav a { 
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	font-style: bold;
	transition: .5s;
}

nav a:hover {
	color: #7c7979;
}

.header {
	padding: 100px;
	background-image: url("../images/ocean-sunset.jpg");
	background-size: cover; /* will stretch out image to fill page if image is too small*/ 
	background-position: center;
	text-align: center;
	font-family: times;
	font-style: italic;
	font-size: 20px;
}

.main-content {
	background-color: #ff9b9b;
	padding: 10px;
	width: 48%;
	float:left;
	margin: 1%;
	height: 420px;
}

.img-50 {
	width: 50%;
	display: block;
	margin: auto;
	padding: 10px;
}

.sub-content {
	background-color: lavender;
	padding: 10px;
	width: 48%;
	float: left;
	margin: 1%;
	height: 420px;
}
/* This is style affecting the content on the Contact page 
======================================================*/

.main-contact {
	background-color: #ff9b9b;
	height: 450px;
	width: 50%;
}

label {
	display: block;
	font-size: 20px;
}

input {
	margin: 0px 0px 0px 75px;
	padding: 10px;
	background-color: lavender;
}

textarea {
	margin: 0px 0px 0px 75px;
	padding: 10px;
	background-color: lavender;
}

button {
	font-size: 15px;
	background-color: lavender;
	padding: 10px 25px;
	margin: 10px 75px;

}
/* These are Utility Classes 
=================================================== */
.center-text {
	text-align:center;
}

.text-30 {
	margin: 10px 70px 10px 70px;
	list-style: none;
	font-size: 20px;
	font-family: comic;
}

/* This is style affecting the content on the about page
======================================================*/

.about-content {
	background-color: #ff9b9b;
	padding: 10px;
	margin: 10px 25px 10px 25px;
	font-family: times;
}

.col-1-4 {
	float:left;
	width: 23%;
	background-color: #ff9b9b;
	padding: 10px;
	height: 500px;
	margin: 1%
}

div h2{
	text-align: center;
}











